{
  "extends": [
    "react-app",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "eol-last": [2, "always"],
    "indent": [2, 2, {"SwitchCase":1}],
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "object-curly-spacing": [2, "never"],
    "semi": [2, "never"],
    "space-infix-ops": "error"
  }
}
