{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "Generator": true
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "comma-spacing": 2,
    "display-name": 0,
    "eol-last": [2, "always"],
    "indent": [2, 2, {"SwitchCase":1}],
    "key-spacing": ["error"],
    "no-console": 0,
    "no-multiple-empty-lines": 2,
    "object-curly-spacing": [2, "never"],
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "semi": [2, "never"]
  },
  "plugins": [
    "react",
    "flowtype"
  ]
}
