{
  "*.js": [
    "prettier --no-bracket-spacing --no-semi --parser flow --single-quote --trailing-comma all --write",
    "lint",
    "git add"
  ],
  "*.css": [
    "stylefmt",
    "stylelint",
    "git add"
  ]
}
