language: node_js

# Use container-based infrastructure
sudo: false

node_js:
  - "node" # latest stable Node.js release
  - "7"
  - "6"

script:
  - yarn run ci

after_script:
  - codeclimate-test-reporter < coverage/lcov.info

addons:
    code_climate:
        repo_token: 7769d83c32de97e4b4d5df87c0520dbe930fb43fff3ab8160e87149ea8fb7335
