@import '../node_modules/normalize.css/normalize.css';
@import './styles/typography.css';

:global #root {
  display: flex;
  flex: 1;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-serif);
}
